v-env
.env
!.env.example

node_modules
__pycache__
v-env
.DS_Store
aws_cf_deploy_anything_llm.json
yarn.lock
*.bak
.idea
/.github/dependabot.yml
embed/yarn.lock
embed/package-lock.json
frontend/yarn.lock
frontend/package-lock.json
package-lock.json
